{% extends 'layout.html' %}
{% block title %}Generador de bitácoras{% endblock %}
{% block content %}
    <main>
        <div class="main__app">
            <div class="main__header">
                <h1 class="main__title">Generador de bitácoras</h1>
                <a href="./bitacoras" class="main__btn main__btn--main">
                    <svg xmlns="http://www.w3.org/2000/svg" class="main__icon" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                    </svg>
                    Gestionar bitácoras
                </a>
            </div>
            <div>
                {% if errores.aviso %}
                    <div>{{ errores.aviso }}</div>{% endif %}
                <form class="form" action="./generador-bitacora" method="post"
                      enctype="multipart/form-data">
                    <fieldset class="form__fieldset form__fieldset--accreditedLogbook">
                        <legend class="form__legend">Datos del acreditado</legend>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_nombre">Nombre<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_nombre"
                                   name="acreditado_nombre"
                                   value="{{ bitacora.acreditado_nombre }}" required>
                            {% if errores.acreditado_nombre %}<p
                                    class="form__error">{{ errores.acreditado_nombre }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_folio">Folio<span
                                        class="asterisk">*</span>: </label>
                            <input class="form__input" type="text" id="acreditado_folio"
                                   name="acreditado_folio"
                                   value="{{ bitacora.acreditado_folio is same as('') ? 'IYE' : bitacora.acreditado_folio }}"
                                   required>
                            {% if errores.acreditado_folio %}<p
                                    class="form__error">{{ errores.acreditado_folio }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_municipio">Municipio<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_municipio"
                                   name="acreditado_municipio"
                                   value="{{ bitacora.acreditado_municipio }}" required>
                            {% if errores.acreditado_municipio %}<p
                                    class="form__error">{{ errores.acreditado_municipio }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_localidad">Localidad<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_localidad"
                                   name="acreditado_localidad"
                                   value="{{ bitacora.acreditado_localidad }}" required>
                            {% if errores.acreditado_localidad %}<p
                                    class="form__error">{{ errores.acreditado_localidad }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="tipo_garantia">Tipo de garantía<span
                                        class="asterisk">*</span>:
                            </label>
                            <select class="form__input" id="tipo_garantia" name="tipo_garantia" required>
                                {% for tipo in tipos_garantia %}
                                    <option value="{{ tipo }}"
                                            {{ bitacora.tipo_garantia is same as tipo ? 'selected' : '' }}
                                    >{{ tipo }}</option>
                                {% endfor %}
                            </select>
                            {% if errores.tipo_garantia %}<p
                                    class="form__error">{{ errores.tipo_garantia }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_garantia">Garantía<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_garantia" name="acreditado_garantia"
                                   value="{{ bitacora.acreditado_garantia }}" required>
                            {% if errores.acreditado_garantia %}<p
                                    class="form__error">{{ errores.acreditado_garantia }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_telefono">Teléfono<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_telefono"
                                   name="acreditado_telefono"
                                   value="{{ bitacora.acreditado_telefono }}" required>
                            {% if errores.acreditado_telefono %}<p
                                    class="form__error">{{ errores.acreditado_telefono }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_email">Correo electrónico<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="email" id="acreditado_email"
                                   name="acreditado_email"
                                   value="{{ bitacora.acreditado_email }}" required>
                            {% if errores.acreditado_email %}<p
                                    class="form__error">{{ errores.acreditado_email }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_direccion_negocio">Dirección del negocio<span
                                        class="asterisk">*</span>:
                            </label>
                            <input class="form__input" type="text" id="acreditado_direccion_negocio"
                                   name="acreditado_direccion_negocio"
                                   value="{{ bitacora.acreditado_direccion_negocio }}" required>
                            {% if errores.acreditado_direccion_negocio %}<p
                                    class="form__error">{{ errores.acreditado_direccion_negocio }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="acreditado_direccion_particular">Dirección
                                particular<span
                                        class="asterisk">*</span>:</label>
                            <input class="form__input" type="text" id="acreditado_direccion_particular"
                                   name="acreditado_direccion_particular"
                                   value="{{ bitacora.acreditado_direccion_particular }}"
                                   required>
                            {% if errores.acreditado_direccion_particular %}<p
                                    class="form__error">{{ errores.acreditado_direccion_particular }}</p>{% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="form__fieldset form__fieldset--aval">
                        <legend class="form__legend">Datos del aval</legend>
                        <div class="form__division">
                            <label class="form__label" for="aval_nombre">Nombre:
                            </label>
                            <input class="form__input" type="text" id="aval_nombre"
                                   name="aval_nombre" value="{{ bitacora.aval_nombre }}">
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="aval_telefono">Teléfono:
                            </label>
                            <input class="form__input" type="text" id="aval_telefono"
                                   name="aval_telefono" value="{{ bitacora.aval_telefono }}">
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="aval_email">Email:
                            </label>
                            <input class="form__input" type="email" id="aval_email"
                                   name="aval_email" value="{{ bitacora.aval_email }}">
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="aval_direccion">Dirección:
                            </label>
                            <input class="form__input" type="text" id="aval_direccion"
                                   name="aval_direccion" value="{{ bitacora.aval_direccion }}">
                        </div>
                    </fieldset>
                    <fieldset class="form__fieldset form__fieldset--process">
                        <legend class="form__legend">Gestión</legend>
                        <div class="form__division">
                            <label class="form__label" for="gestion_fecha">Fecha<span
                                        class="asterisk">*</span>:
                            </label>
                            <input class="form__input" type="date" id="gestion_fecha" name="gestion_fecha"
                                   value="{{ gestion.gestion_fecha ? gestion.gestion_fecha|date('Y-m-d') : '' }}"
                                   required>
                            {% if errores.gestion_fecha %}<p
                                    class="form__error">{{ errores.gestion_fecha }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="gestion_via">Vía<span
                                        class="asterisk">*</span>:
                            </label>
                            <select class="form__input" id="gestion_via" name="gestion_via" required>
                                {% for via in vias_gestion %}
                                    <option value="{{ via }}"
                                            {{ gestion.gestion_via is same as via ? 'selected' : '' }}
                                    >{{ via }}</option>
                                {% endfor %}
                            </select>
                            {% if errores.gestion_via %}<p
                                    class="form__error">{{ errores.gestion_via }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="gestion_comentarios">Comentarios/Resultados:
                            </label>
                            <input class="form__input" type="text" id="gestion_comentarios"
                                   name="gestion_comentarios"
                                   value="{{ gestion.gestion_comentarios }}">
                        </div>
                    </fieldset>
                    <fieldset class="form__fieldset form__fieldset--evidence">
                        <legend class="form__legend">Evidencias</legend>
                        <div class="form__division">
                            <label class="form__label" for="evidencia_fecha">Fecha:
                            </label>
                            <input class="form__input" type="date" id="evidencia_fecha" name="evidencia_fecha"
                                   value="{{ evidencia.evidencia_fecha ? evidencia.evidencia_fecha|format('Y-m-d') : '' }}">
                            {% if errores.evidencia_fecha %}<p
                                    class="form__error">{{ errores.evidencia_fecha }}</p>{% endif %}
                        </div>
                        <div class="form__division">
                            <label class="form__label" for="evidencia_fotografia">Fotografía:
                            </label>
                            <input class="form__input form__input--file" type="file" id="evidencia_fotografia"
                                   name="evidencia_fotografia">
                            {% if errores.evidencia_fotografia %}<p
                                    class="form__error">{{ errores.evidencia_fotografia }}</p>{% endif %}
                        </div>
                    </fieldset>
                    <div class="form__container--btn">
                        <button class="container__btn--reset" type="reset">Limpiar</button>
                        <input class="container__btn--submit" type="submit" value="Generar archivo">
                    </div>
                </form>
            </div>
        </div>
    </main>
    </div>
    </body>
    </html>
{% endblock %}